[submodule "vim/bundle/vim-sleuth"]
	path = vim/bundle/vim-sleuth
	url = git://github.com/tpope/vim-sleuth.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://github.com/wincent/command-t.git
